* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/***********************
        TASK 1
***********************/
.zav1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color_palette{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.color_palette div{
    width: 100px;
    height: 100px;
}
.color_palette div:nth-child(1){
    background-color: red;
}
.color_palette div:nth-child(2){
    background-color: brown;
}
.color_palette div:nth-child(3){
    background-color:blueviolet;
}
.color_palette div:nth-child(4){
    background-color: blue;
}
.color_palette div:nth-child(5){
    background-color:aquamarine
}
.color_palette div:nth-child(6){
    background-color: aqua;
}
.color_palette div:nth-child(7){
    background-color:chartreuse;
}
.color_palette div:nth-child(8){
    background-color: chocolate;
}
.color_palette div:nth-child(9){
    background-color:yellow;
}

.canvas{
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
}
.canvas div{
    width: 30px;
    height: 30px;
    border: 1px dashed black;
}
.active{
    border: 10px double black;
}
/***********************
        TASK 2
***********************/
.deck_of_cards{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    position: relative;
    width: 320px;
    height: 450px;
    margin: 0 10px;
    perspective: 1000px;
}
.card::before, .card::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    transition: 2s;
    background: url('../images/card_img.png') no-repeat;
}
.card::after{
    background-position: -4456px -963px;
}
.card::before{
    transform:rotateY(180deg);
    background-position: -3768px -8px;
}
.card:nth-child(2)::before{
    background-position: -4101px -496px;
}
.card:nth-child(3)::before{
    background-position: -4453px 0px;
}
.card.rotate_card::after{
    transform: rotateY(180deg);
}
.card.rotate_card::before{
    transform: rotateY(360deg);
}
